# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Scikit-learn
5. Tensorflow

### Data Science Tools
|Data Science Tools|
|--------------------|
|Jupyter Notebook|
|VScode|
|RStudio|

### Below are a few examples of evaluating arithmetic expression in Python

In [13]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Create tables using Markdown  
- Use code cells to perform arithmetic operations  
- Understand basic data science tools  
- Create and format Markdown cells

## Author
Mingyu Kim